#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  margin: 0;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(170, 170, 233, 0.8772102591036415) 0%,
    rgba(127, 180, 244, 1) 100%
  );

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333; /* Text color */
}

.app {
  max-height: 75vh;
}
